In [8]:
import pandas as pd
import re

df = pd.DataFrame(
    [
        (1, 2, 3, 4),
        (5, 6, 7, 8)
    ],
    columns=("a", "col with   space", " col_with_ws_prefix", "COLwithMIXEDCaSE")
)

# rename all columns using function provided
def rename_cols(df, f):
    return df.rename(columns = lambda x: f(x))

# function to use on an individual column name
def string_to_lower_and_ws_cleaned_up(x):
    return re.sub(r" +", "_", x.lower().strip())

# apply
# results in new dataframe rather than changing in place
df_clean = rename_cols(df, string_to_lower_and_ws_cleaned_up)

In [9]:
df_clean

   a  col_with_space  col_with_ws_prefix  colwithmixedcase
0  1               2                   3                 4
1  5               6                   7                 8